# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/
env/

# Environment variables - NEVER upload passwords
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
#media files
static/images/