<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Admin Login - HeartCare</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>
<body class="admin-login-page">

    <nav class="navbar">

        <div class="logo">
            ❤️ HeartCare
        </div>

        <div class="nav-links">

            <a href="/login">Back</a>

        </div>

    </nav>


    <section class="login-section">

        <div class="login-card">

            <h1>Admin Login</h1>

            <p>
                Authorized access only
            </p>


            {% if error %}

                <div class="error">
                    {{ error }}
                </div>

            {% endif %}


            <form method="POST">

                <label>
                    Username
                </label>

                <input
                    type="text"
                    name="username"
                    required
                >


                <label>
                    Password
                </label>

                <input
                    type="password"
                    name="password"
                    required
                >


                <button type="submit">
                    Login
                </button>

            </form>

        </div>

    </section>

</body>

</html>